@media (max-width:578px){
    body{
        width:100vw;
    }
    .row{
        position:relative;
        bottom:200px;
    }
    .custom{
        background-image: url(/thirdbackground-testsmall\ copy.png);
        background-position-x: center;      
        min-width: 578px;
    }
    .custom2{
        background-image: url(/secondbackground-testsmall\ copy.png);
        background-position-x: center;
        min-width: 578px;    
    }
    .contact{
        background-image: url(/contactuscopysmall.png);
        background-position-x: center;
        min-width: 578px;
    }
    .navbar{
        width:578px;;
    }
    .logo-alt{
        width:300px;
        position:relative;
        top:-220px;
        left:40px;
    }
    .card5{
        margin-top:30px;
    }
    .logo-alt-3{
        width:300px;
        position:relative;
        top:210px;
        left:50px;
    }
    .second-logo-header{
        font-size:42px;
        width:600px;
        position:relative;
        right:570px;
        bottom:470px;
    }
    .phone-text{
        position:relative;
        width:250px;
        right:580px;
        top:-40px;
    }
    .logo{
        width:550px;
    }
    .logo-alt-2{
        width:300px;
        position:relative;
        top:-210px;
        left:40px;
    }
    .second-logo{
        position:absolute;
        top:500px;
        left:50;
    }
    .phone-text-alt{
        position:relative;
        width:250px;
        right:590px;
        top:-40px
    }
    .phone-text-alt2{
        position:relative;
        width:250px;
        height:50px;
        right:-210px;
        top:440px
    }
    .main-container{
        flex-direction: column;
        max-width:578px;
        height:1000px;
        
        padding:0px;
        margin:0px;
    }
    .card-group1{
        flex-direction: column;
        margin-top:-600px;
    }
    .card-group2{
        flex-direction: column;
        margin-top:30px;
    }
    .carousel-container{
        margin-top:-550px;
    }
    .carousel-text{
        font-size:18px;
    }
    .contacts-text-container{
        margin-top:-800px;
    }
    .contacts-text{
        font-size:26px;
        width:500px;
        height:500;
        padding:30px 90px;
        margin-left:auto;
        margin-right:auto;
    }
    .background-effect-one{
        margin-top:100px;
    }
    .form-container{
        margin-top:0px;
        width:578px;
    }
    .form-group{
        max-width:80%;
        margin-left:50px;
    }
    legend{
        margin-left:50px;
    }
    .container{
        max-width:578px;
    }
    .submit-btn{
        max-width:80%;
        margin-left:52px;
        margin-bottom:20px;
    }
    main{
        width:578px;
    }
    .main-image{
        position:relative;
        top:-730px;
        width:100%;
        z-index:0;
    }
    .logo{
        position:relative;
        width:500px;
        margin-left:35px;
        margin-top:30px;
        z-index:3;
    }
    .second-logo2-mod{
        width:450px;
        position:relative;
        margin-left:65px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        height:420px;
        width:350px;
        margin:0 auto;
        z-index:1;
    }
    .about-text{
        font-size:20px;
    }
    .services-button{
        position:relative;
        top:20px;
    }
    .family{
        position:relative;
        left:0px;
        top:40px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:300px;
        top:-310px;
        font-size:24px;
        width:250px;
        z-index:5;
    }
    .family-name{
        position:relative;
        left:300px;
        bottom:320px;
        font-size:16px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        top:0px;
    }
    footer{
        position:absolute;
        width:578px;
        top:1505px;
    }
    .footer-alt{
        width:578px;
        position:absolute;
        top:2750px;
    }
    .projects-footer{
        width:578px;
        position:absolute;
        top:4060px;
    }
    .projects-footer-2{
        width:578px;
        position:absolute;
        top:1560px;
    }
    .navbar-collapse{
        position:relative;
        z-index:99;
    }
}

@media (min-width:579px) and (max-width:768px){
    body{
        width:100vw;
    }
    .row{
        position:relative;
        bottom:200px;
    }
    .custom{
        background-image: url(/thirdbackground-testmed\ copy.png);
        background-position-x: center;
        min-width: 768px; 
        height:600px;     
    }
    .custom2{
        background-image: url(/secondbackground-testmed\ copy.png);
        background-position-x: center;
        min-width: 768px;      
    }
    .contact{
        background-image: url(/contactuscopymed.png);
        background-position-x: center;
        min-width: 768px;     
        height:600px;
    }
    .navbar{
        width:768px;
    }
    .main-container{
        flex-direction: column;
        max-width:768px;
        height:1000px;
        overflow:hidden;
        padding:0px;
        margin:0px;
    }
    main{
        width:768px;
        overflow:hidden;
    }
    .main-image{
        position:relative;
        top:-870px;
        width:1000px;
        z-index:0;
    }
    .logo{
        position:relative;
        margin-left:30px;
        z-index:3;
    }
    .second-logo2-mod{
        position:relative;
        margin-left:95px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        height:400px;
        width:600px;
        margin:0 auto;
        z-index:1;
    }
    .about-text{
        font-size:24px;
        text-align: center;
    }
    .services-button{
        position:relative;
        top:40px;
    }
    .family{
        position:relative;
        left:-20px;
        top:110px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:360px;
        top:-340px;
        font-size:32px;
        width:300px;
        padding-right:0px;
        z-index:5;
    }
    .family-name{
        position:relative;
        left:390px;
        bottom:350px;
        font-size:24px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        top:0px;
    }
    .logo-alt{
        width:450px;
        position:relative;
        top:205px;
        left:40px;
    }
    .second-logo-header{
        font-size:42px;
        width:600px;
        position:relative;
        right:430px;
        bottom:440px;
    }
    .phone-text{
        position:relative;
        width:300px;
        right:500px;
        top:455px;
    }
    .logo-alt-2{
        width:450px;
        position:absolute;
        top:-320px;
        left:10px;
    }
    .phone-text-alt2{
        position:relative;
        width:300px;
        height:50px;
        right:-305px;
        top:510px
    }
    .logo-alt-3{
        width:450px;
        position:relative;
        top:210px;
        left:0px;
    }
    .phone-text-alt{
        position:absolute;
        width:300px;
        right:90px;
        top:100px;
    }
    .card-group1{
        flex-direction: column;
        position:relative;
        z-index:15;
        margin-top:50px;
    }.card p {
        font-size:18px;
    }
    .card5{
        margin-top:20px;
    }
    .card6{
        margin-top:10px;
    }
    .card-group2{
        flex-direction: column;
        margin-top:30px;
    }
    .carousel-container{
        margin-top:-370px;
        
    }
    .contacts-text-container{
        margin-top:-800px;
        margin-left:60px;
    }
    .contacts-text{
        font-size:32px;
        width:568px;
        height:650;
        padding:30px 50px;
    }
    legend{
        margin-left:50px;
    }
    .background-effect-one{
        min-width:768px;
        margin-left:-50px
    }
    .form-container{
        margin-top:-150px;
        width:768px;
        height:500px;
    }
    .form-group{
        max-width:85%;
        margin-left:60px;
    }
    .container{
        max-width:768px;
    }
    .submit-btn{
        max-width:85%;
        margin-left:62px;
        margin-bottom:20px;
    }

    fieldset{
        width:768px;
        height:500px;      
    }
    form{
        margin-top:0px;
        margin-right:auto;
        margin-left:auto;
    }
    .background-effect-one{
        margin-top:300px;
    }
    footer{
        position:absolute;
        top:1680px;
        width:768px;
    }
    .footer-alt{
        width:768px;
        position:absolute;
        top:2650px;
    }
    .projects-footer{
        width:768px;
        position:absolute;
        top:4150px;
    }
    .projects-footer-2{
        width:768px;
        position:absolute;
        top:1550px;
    }
}

@media (min-width:769px) and (max-width:996px){
    body{
        width:100vw;
    }
    .row{
        position:relative;
        bottom:200px;
    }
    .custom{
        background-image: url(/thirdbackground-testlarge.png);
        background-position-x: center; 
        height:800px;  
        min-width:996px;    
    }
    .custom2{
        background-image: url(/secondbackground-testlarge.png);
        background-position-x: center;   
        min-width:996px;  
    }
    .contact{
        background-image: url(/contact\ uslarge.png);
        background-position-x: center;
        min-width:996px;      
    }
    .navbar{
        width:996px;
    }
    .main-container{
        max-width:996px;
        height:1000px;
        overflow:hidden;
        padding:0px;
        margin:0px;
    }
    main{
        width:996px;
        height:1200px;
        overflow:hidden;
    }
    .main-image{
        position:relative;
        top:0px;
        width:1000px;
        z-index:0;
    }
    .logo{
        position:relative;
        top:-60px;
        z-index:3;
    }
    .second-logo2-mod{
        position:relative;
        top:-60px;
        margin-left:0px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        top:-90px;
        height:600px;
        width:350px;
        margin-right:50px;
        margin-left:50px;
        z-index:1;
    }
    .about-text{
        font-size:24px;
    }
    .services-button{
        position:relative;
        top:40px;
    
    }
    .family{
        position:relative;
        left:300px;
        top:10px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:680px;
        top:-440px;
        font-size:32px;
        width:300px;
        padding-right:0px;
        z-index:5;
    }
    .family-name{
        position:relative;
        left:720px;
        bottom:450px;
        font-size:24px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        bottom:400px;
    }  
    .logo-alt{
        width:700px;
        position:relative;
        top:200px;
        left:0px;
    }
    .second-logo-header{
        font-size:62px;
        width:600px;
        position:relative;
        right:250px;
        bottom:420px;
    }
    .phone-text{
        position:relative;
        width:400px;
        right:390px;
        bottom:-530px;
    }
    .logo-alt-2{
        width:700px;
        position:relative;
        top:-820px;
        left:0px;
    }
    .logo-alt-3{
        width:700px;
        position:relative;
        top:210px;
        left:0px;
    }  
    .second-logo-header-alt{
        font-family:'Give You Glory', cursive;
        text-shadow:0px 0px 4px #ffd43b;
        font-size:62px;
        width:600px;
        position:relative;
        right:270px;
        top:-780px;
    }
    .phone-text-alt{
        position:relative;
        width:400px;
        right:390px;
        top:-480px;
    }
    .phone-text-alt2{
        position:absolute;
        width:400px;
        right:120px;
        top:860px;
    }
    .card-group1{
        flex-direction: row;
        position:relative;
        z-index:15;
        margin-top:50px;
    }
    .card-group2{
        flex-direction: row;
        margin-top:30px;
    }
    .card1{
        margin-top:10px;
    }
    .card2{
        margin-top:-35px;
    }
    .card3{
        margin-top:40px;
    }
    .card5{
        margin-top:-215px
    }
    .card6{
        margin-top:-40px
    }
    .carousel-container{
        margin-top:-200px;
        height:3300px;

    }
    .contacts-text-container{
        margin-top:-800px;
    }
    .contacts-text{
        font-size:36px;
        width:750px;
        height:750;
        padding:30px 50px;
        margin-left:auto;
        margin-right:auto;
    }
    .container{
        width:992px;
    }
    .background-effect-one{
        min-width:992px;
        margin-top:-400px;
    }
    .form-container{
        height:550px;
        margin-top:-100px;
    }
    .form-control{
        margin-left:auto;
        margin-right:auto;
    }
    .form-group{
        width:70%;
        margin-left:150px;
    }
    fieldset{
        width:996px;
    }
    legend{
        margin-left:200px;
        width:996px;
    }
    .submit-btn{
        margin-left:170px;
        margin-right:150px;
        margin-bottom:20px;
    }
    footer{
        position:absolute;
        top:1180px;
        width:996px;
    }
    .footer-alt{
        width:996px;
        position:absolute;
        top:2250px;
    }
    .projects-footer{
        width:996px;
        position:absolute;
        top:4150px;
    }
    .projects-footer-2{
        width:996px;
        position:absolute;
        top:1850px;
    }
}

@media (min-width:997px) and (max-width:1200px){
    body{
        width:100vw;
    }
    .row{
        position:relative;
        bottom:350px;
    }
    .navbar{
        width:1200px;
    }
    .main-container{
        max-width:1200px;
        height:1000px;
        overflow:hidden;
        padding:0px;
        margin:0px;
    }
    main{
        width:1200px;
        height:1200px;
        overflow:hidden;
    }
    .main-image{
        position:relative;
        top:0px;
        width:1000px;
        z-index:0;
    }
    .logo{
        position:relative;
        top:-20px;
        z-index:3;
    }
    .second-logo2-mod{
        position:relative;
        top:-30px;
        margin-left:10px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        top:-60px;
        height:640px;
        width:550px;
        margin-right:50px;
        margin-left:50px;
        z-index:1;
    }
    .about-text{
        font-size:32px;
    }
    .services-button{
        position:relative;
        top:30px;
    
    }
    .family{
        position:relative;
        left:490px;
        top:10px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:130px;
        bottom:20px;
        font-size:32px;
        width:300px;
        padding-right:0px;
        z-index:15;
    }
    .family-name{
        position:relative;
        left:890px;
        bottom:250px;
        font-size:24px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        bottom:400px;
    }
    .logo-alt{
        width:700px;
        position:relative;
        top:350px;
        left:0px;
    }
    .second-logo-header{
        font-size:82px;
        width:600px;
        position:relative;
        right:50px;
        bottom:240px;
    }
    .phone-text{
        position:relative;
        width:500px;
        right:300px;
        bottom:-880px;
    }
    .logo-alt-2{
        width:700px;
        position:relative;
        top:-650px;
        left:30px;
    }  
    .logo-alt-3{
        width:700px;
        position:relative;
        top:350px;
        left:0px;
    }  
    .phone-text-alt{
        position:relative;
        width:500px;
        right:280px;
        top:-140px;
    }
    .phone-text-alt2{
        position:absolute;
        width:400px;
        height:100px;
        right:80px;
        top:1200px;
    }
    .card-group1{
        flex-direction: row;
        position:relative;
        z-index:15;
        margin-top:50px;
    }
    .card-group2{
        flex-direction: row;
        margin-top:30px;
    }
    .card2{
        margin-top:-20px;
    }
    .card3{
        margin-top:30px;
    }
    .card4{
        margin-top:10px;
    }
    .card5{
        margin-top:-180px
    }
    .card p{
        font-size:18px;
    }
    .carousel-container{
        margin-top:70px;
        height:3400px;
    }
    .contacts-text-container{
        width:1200px;
        margin-top:-800px;
    }
    .contacts-text{
        font-size:38px;
        width:850px;
        height:350px;
        padding:30px 50px;
        margin-left:auto;
        margin-right:auto;
    }
    .form-control{
        margin-left:auto;
        margin-right:auto;
    }
    .form-group{
        margin-left:150px;
        width:80%;
    }
    .form-container{
        margin-top:-300px;
        width:1200px;
        height:550px;
    }
    .submit-btn{
        margin-left:150px;
        width:80%;;
        margin-bottom: 20px;
    }
    legend{
        font-size:42px;
        margin-left:90px;
    }
    footer{
        position:absolute;
        top:1180px;
        width:1200px;
    }
    .footer-alt{
        width:1200px;
        position:absolute;
        top:2450px;
    }
    .projects-footer{
        width:1200px;
        position:absolute;
        top:4350px;
    }
    .projects-footer-2{
        width:1200px;
        position:absolute;
        top:2050px;
    }
}

@media (min-width:1201px) and (max-width:1400px){
    body{
        width:100vw;
    }
    .navbar .nav-item.active {
        border-left: #F27F16 3px solid;
        border-right:hidden;
        margin-right:0px;
        margin-bottom:10px;
    }
    .main-container{
        max-width:1400px;
        height:1000px;
        overflow:hidden;
        padding:0px;
        margin:0px;
    }
    main{
        width:1400px;
        height:1200px;
        overflow:hidden;
    }
    .main-image{
        position:relative;
        top:0px;
        width:1000px;
        z-index:0;
    }
    .logo{
        position:relative;
        top:40px;
        left:50px;
        margin-bottom:50px;
        z-index:3;
    }
    .second-logo2-mod{
        position:relative;
        top:-30px;
        margin-left:115px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        top:-60px;
        height:650px;
        width:550px;
        margin-right:50px;
        margin-left:150px;
        z-index:1;
    }
    .about-text{
        font-size:32px;
    }
    .services-button{
        position:relative;
        top:30px;
    
    }
    .family{
        position:relative;
        left:690px;
        top:10px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:330px;
        bottom:20px;
        font-size:32px;
        width:300px;
        padding-right:0px;
        z-index:15;
    }
    .family-name{
        position:relative;
        left:1100px;
        bottom:250px;
        font-size:24px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        bottom:400px;
    }
    .logo-alt{
        width:700px;
        position:relative;
        top:10px;
        left:0px;
    }
    .second-logo-header{
        font-size:82px;
        width:600px;
        position:relative;
        right:-50px;
        bottom:240px;
    }
    .phone-text{
        position:relative;
        width:500px;
        right:290px;
        bottom:-530px;
    }
    .logo-alt-2{
        width:700px;
        position:relative;
        top:-1020px;
        left:0px;
    }  
    .logo-alt-3{
        width:700px;
        position:relative;
        top:20px;
        left:0px;
    }  
    .phone-text-alt{
        position:absolute;
        width:500px;
        right:230px;
        top:880px;
    }
    .phone-text-alt2{
        position:absolute;
        width:500px;
        right:230px;
        top:930px;
    }
    .card-group1{
        flex-direction: row;
        position:relative;
        z-index:15;
        margin-top:50px;
    }
    .card-group2{
        flex-direction: row;
        margin-top:30px;
    }
    .card1{
        margin-top:40px;
    }
    .card3{
        margin-top:60px;
    }
    .card5{
        margin-top:-210px;
    }
    .card p {
        font-size:20px
    }
    .card h2{
        font-size:42px;
    }
    .carousel-container{
        margin-top:70px;
        height:3850px;
    }
    .carousel-text{
        font-size:36px;
    }
    .carousel-header{
        font-size:64px;
    }
    .carousel-header-one{
        font-size:64px;
    }
    .contacts-text-container{
        width:1400px;
        margin-top:-830px;
        
    }
    .background-effect-one{
        width:1400px;
        margin-top:-150px;
    }
    .contacts-text{
        font-size:48px;
        width:900px;
        height:450px;
        padding:30px 50px;
        margin-left:150px;
        margin-right:auto;
    }
    .form-control{
        margin-left:auto;
        margin-right:auto;
    }
    .form-group{
        margin-left:100px;
        width:85%;
    }
    .form-container{
        margin-top:50px;
        width:1400px;
        height:550px;
    }
    .submit-btn{
        margin-left:110px;
        margin-right:110px;
        margin-bottom: 20px;
    }
    .project-btn{
        margin-top:-20px;
    }
    legend{
        font-size:42px;
        margin-left:90px;
    }
    footer{
        position:absolute;
        top:1180px;
        width:1400px;
    }
    .footer-alt{
        width:1400px;
        position:absolute;
        top:2550px;
    }
    .projects-footer{
        width:1400px;
        position:absolute;
        top:4850px;
    }
    .projects-footer-2{
        width:1400px;
        position:absolute;
        top:2150px;
    }
}

@media (min-width:1401px){
    body{
        width:100vw;
    }
    .navbar .nav-item.active {
        border-left: #F27F16 3px solid;
        border-right:hidden;
        margin-right:0px;
        margin-bottom:10px;
    }
    .custom{
        background-position-x: center; 
        min-width:1600px;    
    }
    .custom2{
        background-position-x: center;   
        min-width:1600px;  
    }
    .contact{
        background-position-x: center;
        min-width:1600px;      
    }
    .main-container{
        min-width:1600px;
        height:1000px;
        overflow:hidden;
        padding:0px;
        margin:0px;
    }
    main{
        width:1600px;
        height:1170px;
        overflow:hidden;
    }
    .main-image{
        position:relative;
        top:0px;
        right:0px;
        width:1200px;
        margin-left:0px;
        z-index:0;
    }
    .logo{
        position:relative;
        top:40px;
        left:0px;
        margin-bottom:50px;
        z-index:3;
    }
    .second-logo2-mod{
        position:relative;
        top:-30px;
        margin-left:70px;
        z-index:4;
    }
    .about-text-container{
        position:relative;
        top:-60px;
        height:650px;
        width:550px;
        margin-right:50px;
        margin-left:100px;
        z-index:1;
    }
    .about-text{
        font-size:32px;
    }
    .services-button{
        position:relative;
        top:30px;
    
    }
    .family{
        position:relative;
        left:900px;
        top:10px;
        z-index:4;
    }
    .family-text{
        font-family: 'Noto Serif Display', serif;
        position:relative;
        display:inline-block;
        left:540px;
        bottom:20px;
        font-size:32px;
        width:300px;
        padding-right:0px;
        z-index:15;
    }
    .family-name{
        position:relative;
        left:1310px;
        bottom:250px;
        font-size:24px;
        z-index:6;
    }
    .testimonial-container{
        position:relative;
        bottom:400px;
    }
    .logo-alt{
        width:700px;
        position:relative;
        top:10px;
        left:0px;
    }
    .second-logo-header{
        font-size:82px;
        width:600px;
        position:relative;
        right:-50px;
        bottom:240px;
    }
    .phone-text{
        position:relative;
        width:500px;
        right:290px;
        bottom:-530px;
    }
    .logo-alt-2{
        width:700px;
        position:relative;
        top:-1020px;
        left:0px;
    }  
    .logo-alt-3{
        width:700px;
        position:relative;
        top:20px;
        left:0px;
    }  
    .phone-text-alt{
        position:absolute;
        width:500px;
        right:230px;
        top:880px;
    }
    .phone-text-alt2{
        position:absolute;
        width:500px;
        right:230px;
        top:930px;
    }
    .card-group1{
        flex-direction: row;
        position:relative;
        z-index:15;
        margin-top:50px;
    }
    .card-group2{
        flex-direction: row;
        margin-top:30px;
    }
    .card1{
        margin-top:40px;
    }
    .card3{
        margin-top:60px;
    }
    .card5{
        margin-top:-210px;
    }
    .card p {
        font-size:20px
    }
    .card h2{
        font-size:42px;
    }
    .carousel-container{
        margin-top:70px;
        height:3850px;
    }
    .carousel-text{
        font-size:36px;
    }
    .carousel-header{
        font-size:64px;
    }
    .carousel-header-one{
        font-size:64px;
    }
    .contacts-text-container{
        width:1600px;
        margin-top:-830px;
        
    }
    .background-effect-one{
        min-width:1500px;
        margin-top:-150px;
        margin-left:-150px;
    }
    .contacts-text{
        font-size:48px;
        width:1200px;
        height:350px;
        padding:30px 50px;
        margin-left:150px;
    }
    .form-control{
        margin-left:auto;
        margin-right:auto;
    }
    .form-group{
        margin-left:200px;
        width:80%;
    }
    .form-container{
        margin-top:50px;
        width:1600px;
        height:550px;
    }
    .submit-btn{
        width:80%;
        margin-left:200px;
        margin-bottom: 20px;
    }
    .project-btn{
        margin-top:-90px;
        margin-left:70px;
    }
    legend{
        font-size:42px;
        margin-left:90px;
    }
    footer{
        position:absolute;
        top:1180px;
        width:1600px;
    }
    .footer-alt{
        width:1600px;
        position:absolute;
        top:2350px;
    }
    .projects-footer{
        width:1600px;
        position:absolute;
        top:4850px;
    }
    .projects-footer-2{
        width:1600px;
        position:absolute;
        top:2150px;
    }
}